// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #345d81;
$secondary : #26A69A;
$accent    : #f1eeee;

$dark      : #1D1D1D;

$positive  : #00ffbf;
$negative  : #97348f;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
